<!DOCTYPE html>
<html>
<head>
    <title>Reservation List</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
</head>
<body>
    <h1>Reservation List</h1>
    <table>
        <thead>
            <tr>
                <th>Name</th>
                <th>Check-in</th>
                <th>Check-out</th>
                <th>Room Type</th>
            </tr>
        </thead>
        <tbody>
            {% for reservation in reservations %}
                <tr>
                    <td>{{ reservation[0] }}</td>
                    <td>{{ reservation[1] }}</td>
                    <td>{{ reservation[2] }}</td>
                    <td>{{ reservation[3] }}</td>
                </tr>
            {% endfor %}
        </tbody>
    </table>
    <a class="btn btn-primary" href="{{ url_for('home') }}">Back to Home</a>
</body>
</html>

